/* You can add global styles to this file, and also import other style files */
/*@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';*/

.spacer {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

* { box-sizing:border-box; }

body {
	background: #333;
    margin: 0;
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;
}

.group { 
	position: relative; 
	margin-bottom: 45px; 
}

/* Button */
.btn-lg {
	padding: 10px !important;
	margin: .3em 0 1.3em 0 !important;
	width: 100%;
	vertical-align: middle;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
}